* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Sets the default font and background for the body */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
}

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    margin-top: 100px;
   
}

.success-message {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    max-width: 600px;
}

.success-message h1 {
    color: #4caf50;
    font-size: 2em;
    margin-bottom: 10px;
}

.success-message p {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.home-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.order-summary {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-bottom: 15px;
}

.order-summary h2 {
    margin-bottom: 15px;
}

.order-summary p {
    font-size: .8em;
    margin: 5px 0;
}

@media (min-width: 600px) {
    .success-container {
        padding: 30px;
    }

    .success-message h1 {
        font-size: 2.5em;
    }

    .order-summary p {
        font-size: 1em;
    }
}
